6.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT family (father+)>
<!ELEMENT father (name,son)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT son (#PCDATA)>

<!ATTLIST family loc CDATA #REQUIRED>
<!ATTLIST father sport NMTOKEN #IMPLIED>
<!ATTLIST father ssn NMTOKEN #REQUIRED>
<!ATTLIST son sport CDATA #REQUIRED>